/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Barlow&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #cb93ab;
  --secondary-color: #51464a;
  --accent1-color: #283891;
  --accent2-color: #fefefe;
  --accent3-color: #feadc9;

  /* change the values below to your chosen font(s) */
  --heading-font: "Noto Sans", sans-serif;
  --paragraph-font: Barlow, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--accent1-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent3-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: #050505; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
  --text-background-color: var(--secondary-color);
  --nav-link-color: var(--accent3-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: var(--secondary-color);
  --nav-hover-background-color: var(--primary-color);
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
html {
  background-color: var(--primary-color);
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--accent2-color);
  padding: 1em;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 20%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
  color: white;
}
.accent1 {
  background-color: var(--accent1-color);
  color: white;
}
.accent2{
  background-color: var(--accent2-color);
}
.accent3 {
  background-color: #050505;
  color: white;
}

p.colored {
  background-color: var(--text-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 70px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #999;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #999;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #999;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}